USE [master]
GO
/****** Object:  Database [DB_VENTAS]    Script Date: 2/11/2025 00:06:04 ******/
CREATE DATABASE [DB_VENTAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_VENTAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_VENTAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_VENTAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_VENTAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_VENTAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_VENTAS]
GO
/****** Object:  User [pruebas]    Script Date: 2/11/2025 00:06:04 ******/
CREATE USER [pruebas] FOR LOGIN [pruebas] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_rol_id]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_get_rol_id] (@descripcion VARCHAR(100))
RETURNS INT
AS
BEGIN
    DECLARE @id INT;
    SELECT @id = id_rol FROM dbo.TBL_ROL WHERE LTRIM(RTRIM(descripcion)) = LTRIM(RTRIM(@descripcion));
    RETURN @id;
END
GO
/****** Object:  Table [dbo].[TBL_CLIENTES]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTES](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[nit] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
	[coordenadas] [varchar](100) NULL,
	[correo] [varchar](150) NULL,
	[fecha_creacion] [datetime] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CONFIG_CORREO]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONFIG_CORREO](
	[id_config_correo] [int] IDENTITY(1,1) NOT NULL,
	[correo_emisor] [varchar](150) NOT NULL,
	[servidor_smtp] [varchar](150) NOT NULL,
	[puerto] [int] NOT NULL,
	[usa_ssl] [bit] NULL,
	[usuario_correo] [varchar](150) NULL,
	[clave_correo] [varchar](255) NULL,
	[remitente_nombre] [varchar](100) NULL,
	[activo] [bit] NULL,
	[fecha_configuracion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_config_correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLE_VISITA]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLE_VISITA](
	[id_detalle_visita] [int] IDENTITY(1,1) NOT NULL,
	[id_visita] [int] NOT NULL,
	[fecha_atencion] [datetime] NULL,
	[observaciones] [varchar](500) NULL,
	[coordenadas_visita] [varchar](100) NULL,
	[evidencia_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INFO_USUARIO]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INFO_USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ROL]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SUPERVISOR_TECNICO]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SUPERVISOR_TECNICO](
	[id_supervisor_tecnico] [int] IDENTITY(1,1) NOT NULL,
	[id_supervisor] [int] NOT NULL,
	[id_tecnico] [int] NOT NULL,
	[fecha_asignacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_supervisor_tecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USUARIO]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USUARIO](
	[id_usuario] [int] NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[clave] [varchar](255) NOT NULL,
	[id_rol] [int] NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VERSION_SISTEMA]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VERSION_SISTEMA](
	[id_version] [int] IDENTITY(1,1) NOT NULL,
	[version] [varchar](20) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[fecha_actualizacion] [datetime] NULL,
	[usuario_actualizo] [int] NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_VISITA]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VISITA](
	[id_visita] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_supervisor] [int] NOT NULL,
	[id_tecnico] [int] NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[coordenadas_planificadas] [varchar](100) NULL,
	[estado] [varchar](50) NULL,
	[fecha_visita] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CLIENTES] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[TBL_CLIENTES] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TBL_CONFIG_CORREO] ADD  DEFAULT ((587)) FOR [puerto]
GO
ALTER TABLE [dbo].[TBL_CONFIG_CORREO] ADD  DEFAULT ((1)) FOR [usa_ssl]
GO
ALTER TABLE [dbo].[TBL_CONFIG_CORREO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TBL_CONFIG_CORREO] ADD  DEFAULT (getdate()) FOR [fecha_configuracion]
GO
ALTER TABLE [dbo].[TBL_DETALLE_VISITA] ADD  DEFAULT (getdate()) FOR [fecha_atencion]
GO
ALTER TABLE [dbo].[TBL_INFO_USUARIO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[TBL_SUPERVISOR_TECNICO] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[TBL_USUARIO] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TBL_VERSION_SISTEMA] ADD  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[TBL_VERSION_SISTEMA] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TBL_VISITA] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[TBL_VISITA] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[TBL_VISITA] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_visita]
GO
ALTER TABLE [dbo].[TBL_DETALLE_VISITA]  WITH CHECK ADD FOREIGN KEY([id_visita])
REFERENCES [dbo].[TBL_VISITA] ([id_visita])
GO
ALTER TABLE [dbo].[TBL_SUPERVISOR_TECNICO]  WITH CHECK ADD  CONSTRAINT [FK_Supervisor_Usuario] FOREIGN KEY([id_supervisor])
REFERENCES [dbo].[TBL_USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[TBL_SUPERVISOR_TECNICO] CHECK CONSTRAINT [FK_Supervisor_Usuario]
GO
ALTER TABLE [dbo].[TBL_SUPERVISOR_TECNICO]  WITH CHECK ADD  CONSTRAINT [FK_Tecnico_Usuario] FOREIGN KEY([id_tecnico])
REFERENCES [dbo].[TBL_USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[TBL_SUPERVISOR_TECNICO] CHECK CONSTRAINT [FK_Tecnico_Usuario]
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[TBL_ROL] ([id_rol])
GO
ALTER TABLE [dbo].[TBL_USUARIO]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[TBL_INFO_USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[TBL_VERSION_SISTEMA]  WITH CHECK ADD FOREIGN KEY([usuario_actualizo])
REFERENCES [dbo].[TBL_USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[TBL_VISITA]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[TBL_CLIENTES] ([id_cliente])
GO
ALTER TABLE [dbo].[TBL_VISITA]  WITH CHECK ADD FOREIGN KEY([id_supervisor])
REFERENCES [dbo].[TBL_USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[TBL_VISITA]  WITH CHECK ADD FOREIGN KEY([id_tecnico])
REFERENCES [dbo].[TBL_USUARIO] ([id_usuario])
GO
/****** Object:  StoredProcedure [dbo].[usp_Supervisores_List]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Supervisores_List]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ROL_SUP INT = dbo.fn_get_rol_id('Supervisor');

    SELECT iu.id_usuario,
           iu.nombre,
           iu.correo,
           u.usuario,
           u.activo
    FROM dbo.TBL_INFO_USUARIO iu
    JOIN dbo.TBL_USUARIO u ON u.id_usuario = iu.id_usuario
    WHERE u.id_rol = @ROL_SUP
    ORDER BY iu.nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Tecnicos_List]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Tecnicos_List]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ROL_TEC INT = dbo.fn_get_rol_id('Tecnico');

    SELECT iu.id_usuario,
           iu.nombre,
           iu.correo,
           u.usuario,
           u.activo
    FROM dbo.TBL_INFO_USUARIO iu
    JOIN dbo.TBL_USUARIO u ON u.id_usuario = iu.id_usuario
    WHERE u.id_rol = @ROL_TEC
    ORDER BY iu.nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_Create]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_User_Create]
    @nombre        VARCHAR(150),
    @correo        VARCHAR(150),
    @usuario       VARCHAR(100),
    @clave_hash    VARCHAR(255),
    @id_rol        INT,
    @id_supervisor INT = NULL,   -- opcional, solo si es técnico
    @new_id_usuario INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        -- 1) Insertar info
        INSERT INTO dbo.TBL_INFO_USUARIO(nombre, correo)
        VALUES (@nombre, @correo);

        SET @new_id_usuario = SCOPE_IDENTITY();

        -- 2) Insertar acceso
        INSERT INTO dbo.TBL_USUARIO(id_usuario, usuario, clave, id_rol) 
        VALUES (@new_id_usuario, @usuario, @clave_hash, @id_rol);

        -- 3) Si es técnico y trae supervisor, crear relación
        DECLARE @ROL_TECNICO INT = dbo.fn_get_rol_id('Tecnico');
        IF (@id_rol = @ROL_TECNICO AND @id_supervisor IS NOT NULL)
        BEGIN
            INSERT INTO dbo.TBL_SUPERVISOR_TECNICO(id_supervisor, id_tecnico)
            VALUES (@id_supervisor, @new_id_usuario);
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0) ROLLBACK TRAN;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@msg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_Deactivate]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_User_Deactivate]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE dbo.TBL_USUARIO
    SET activo = 0
    WHERE id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_List]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_User_List]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH base AS (
        SELECT iu.id_usuario,
               iu.nombre,
               iu.correo,
               u.usuario,
               u.id_rol,
               r.descripcion AS rol,
               u.activo
        FROM dbo.TBL_INFO_USUARIO iu
        JOIN dbo.TBL_USUARIO u ON u.id_usuario = iu.id_usuario
        JOIN dbo.TBL_ROL r ON r.id_rol = u.id_rol
    )
    SELECT b.*,
           st.id_supervisor_tecnico,
           st.id_supervisor,
           sup.usuario AS supervisor_usuario,
           supIU.nombre AS supervisor_nombre
    FROM base b
    LEFT JOIN dbo.TBL_SUPERVISOR_TECNICO st ON st.id_tecnico = b.id_usuario
    LEFT JOIN dbo.TBL_USUARIO sup ON sup.id_usuario = st.id_supervisor
    LEFT JOIN dbo.TBL_INFO_USUARIO supIU ON supIU.id_usuario = sup.id_usuario
    ORDER BY b.id_usuario DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_User_Update]    Script Date: 2/11/2025 00:06:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_User_Update]
    @id_usuario    INT,
    @nombre        VARCHAR(150),
    @correo        VARCHAR(150),
    @usuario       VARCHAR(100),
    @id_rol        INT,
    @activo        BIT,
    @clave_hash    VARCHAR(255) = NULL,
    @id_supervisor INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        UPDATE dbo.TBL_INFO_USUARIO
        SET nombre = @nombre,
            correo = @correo
        WHERE id_usuario = @id_usuario;

        UPDATE dbo.TBL_USUARIO
        SET usuario = @usuario,
            id_rol = @id_rol,
            activo = @activo
        WHERE id_usuario = @id_usuario;

        IF (@clave_hash IS NOT NULL)
        BEGIN
            UPDATE dbo.TBL_USUARIO
            SET clave = @clave_hash
            WHERE id_usuario = @id_usuario;
        END

        DECLARE @ROL_TECNICO INT = dbo.fn_get_rol_id('Tecnico');

        IF (@id_rol = @ROL_TECNICO)
        BEGIN
            -- si es técnico, mantener 0 o 1 relación
            IF (@id_supervisor IS NOT NULL)
            BEGIN
                -- si ya existe, actualizar; si no, insertar
                IF EXISTS(SELECT 1 FROM dbo.TBL_SUPERVISOR_TECNICO WHERE id_tecnico = @id_usuario)
                    UPDATE dbo.TBL_SUPERVISOR_TECNICO
                    SET id_supervisor = @id_supervisor,
                        fecha_asignacion = GETDATE()
                    WHERE id_tecnico = @id_usuario;
                ELSE
                    INSERT INTO dbo.TBL_SUPERVISOR_TECNICO(id_supervisor, id_tecnico)
                    VALUES (@id_supervisor, @id_usuario);
            END
            ELSE
            BEGIN
                -- si no envían supervisor, quitar relación (opcional)
                DELETE FROM dbo.TBL_SUPERVISOR_TECNICO WHERE id_tecnico = @id_usuario;
            END
        END
        ELSE
        BEGIN
            -- Si dejó de ser técnico, limpiar relación
            DELETE FROM dbo.TBL_SUPERVISOR_TECNICO WHERE id_tecnico = @id_usuario;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0) ROLLBACK TRAN;
        DECLARE @msg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@msg, 16, 1);
    END CATCH
END
GO
USE [master]
GO
